## Exercise 2 - Create Table for Courses

Create table - **courses**
* course_id - sequence generated integer and primary key
* course_name - which holds alpha numeric or string values up to 60 characters
* course_author - which holds the name of the author up to 40 characters
* course_status - which holds one of these values (published, draft, inactive). 
* course_published_dt - which holds date type value.

In [1]:
%run 00_setup_database_variables.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv001477_sms_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_sms_db

In [4]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

1 rows affected.

[('itv001477_sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [6]:
%%sql
DROP TABLE IF EXISTS courses

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
Done.

[]

* Develop the create table statement to create the table.

In [7]:
%%sql
create table courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author varchar(40),
    course_status varchar(15) CHECK(course_status in ('published','draft','inactive')),
    course_published_dt DATE
)

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
Done.

[]

* Validate by running query here

In [8]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
1 rows affected.

[('itv001477_sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]