## Running SQL Queries using Pandas

Let us understand how to run SQL Queries using Pandas. Here are the steps that need to be followed to run SQL Queries against Postgres database.
* Make sure Pandas, Psycopg2 as well as SQL Alchemy are installed.
* Create database engine object using SQL Alchemy.
* Make sure to build the query that is required to process the data as per the requirements.
* Use Pandas `read_sql` using query and engine objects.
* Even though we can run any query using `read_sql`, it will throw exceptions if the query or command does not return the data. For example, DML statements like `DELETE` throw exceptions as it does not return the rows even though data is successfully deleted satisfying the condition.

**Note: We are going to see the demo using Postgres. Similar steps can be followed for database of any type that is supported using SQL Alchemy**.

In [ ]:
!pip list|grep pandas

In [ ]:
!pip list|grep psycopg2

In [4]:
!pip list|grep -i sqlalchemy

SQLAlchemy                        1.4.18

In [1]:
%run 13_set_up_variables_for_db_connectivity.ipynb

In [5]:
import pandas as pd

In [6]:
import psycopg2
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

engine = db.create_engine(f'postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db')

In [7]:
type(engine)

sqlalchemy.engine.base.Engine

In [8]:
courses_query = 'SELECT * FROM courses'

In [9]:
pd.read_sql(courses_query, engine)

,course_id,course_name,course_author,course_status,course_published_dt
0,1,Programming using Python,Bob Dillon,published,2020-09-30
1,2,Data Engineering using Python,Bob Dillon,published,2020-07-15
2,3,Data Engineering using Scala,Elvis Presley,draft,None
3,4,Programming using Scala,Elvis Presley,published,2020-05-12
4,5,Programming using Java,Mike Jack,inactive,2020-08-10
5,6,Web Applications - Python Flask,Bob Dillon,inactive,2020-07-20
6,7,Web Applications - Java Spring,Mike Jack,draft,None
7,8,Pipeline Orchestration - Python,Bob Dillon,draft,None
8,9,Streaming Pipelines - Python,Bob Dillon,published,2020-10-05
9,10,Web Applications - Scala Play,Elvis Presley,inactive,2020-09-30
10,11,Web Applications - Python Django,Bob Dillon,published,2020-06-23
11,12,Server Automation - Ansible,Uncle Sam,published,2020-07-05