## REST Payload to DB Table

Let us perform an exercise to get the REST Payload into a database table.
* REST API URL: https://gbfs.citibikenyc.com/gbfs/en/station_information.json
* Database Name: **{username}_sms_db**
* First Table Name: **stations**
* Create table for following fields. Make sure to use appropriate data types
  * id - Sequence generated primary key
  * station_id - Uniqueness needs to be enforced.
  * station_type
  * name
  * short_name
  * capacity
  * external_id
  * has_kiosk
  * legacy_id
  * region_id
  * electric_bike_surcharge_waiver
  * eightd_station_services
* Get the data from the REST payload into the table **stations** created.
* Run queries for following scenarios.
  * Get distinct station types.
  * Get number of stations per region_id.
  * Get top 10 stations by capacity.
  * Get number of stations where there are no kiosks.
* Second Table Name: **station_rental_types**
* Create table with following fields
  * station_id
  * rental_type - the source field is of type list. The target column in the table should be of type VARCHAR.
  * station_rental_type_id - sequence generated primary key.
  * Combination of station_id and rental_type is supposed to be unique.
* For all station ids where there is one or more rental_types, the data should be inserted into the table separately with rental_type.
* Sample input record `{'station_id': 1, 'rental_types': ['KEY', 'CREDIT CARD]}`
* Sample data in the table

|station_id|rental_type|
|---|---|
|1|KEY|
|1|CREDIT CARD|

* Run queries for following scenarios.
  * Get number of records from **station_rental_types**
  * Get number of stations where rental_type is **KEY**
  * Get number of stations where rental_type is **CREDIT CARD**
  * Get number stations by rental_type.
  * Get the stations where there is no rental type.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itv001477_sms_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_sms_db

env: DATABASE_URL=postgresql://itv001477_sms_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_sms_db

In [27]:
%%sql
DROP TABLE stations

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
Done.

[]

In [28]:
%%sql
CREATE TABLE stations (
    id SERIAL PRIMARY KEY,
    station_id int UNIQUE,
    station_type varchar(20),
    name varchar(150),
    short_name varchar(30),
    capacity int,
    external_id varchar(150),
    has_kiosk BOOLEAN,
    legacy_id int,
    region_id int,
    electric_bike_surcharge_waiver BOOLEAN
)

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
Done.

[]

In [6]:
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /opt/anaconda3/envs/beakerx/lib/python3.6/site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/beakerx/lib/python3.6/site-packages (from requests) (1.26.5)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/beakerx/lib/python3.6/site-packages (from requests) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/anaconda3/envs/beakerx/lib/python3.6/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/envs/beakerx/lib/python3.6/site-packages (from requests) (2.10)

In [7]:
import requests

In [8]:
payload_dict=requests.get(' https://gbfs.citibikenyc.com/gbfs/en/station_information.json').json()

In [ ]:
payload_dict

In [23]:
eightd_station_list=list(filter(lambda item:len(item['eightd_station_services'])>0,payload_dict['data']['stations']))

In [30]:
import psycopg2
connection=psycopg2.connect(
    host='m01.itversity.com',
    port=5433,
    database='itv001477_sms_db',
    user='itv001477_sms_user',
    password='xndxklzpkk2h37en8z32vzeekbuvwkca'
)

In [31]:
cursor=connection.cursor()
query=("""
        INSERT INTO stations(station_id,
    station_type,
    name,
    short_name,
    capacity,
    external_id,
    has_kiosk,
    legacy_id,
    region_id,
    electric_bike_surcharge_waiver)
    VALUES
    (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
""")

In [20]:
filter_values=list(filter(
    lambda value:value['region_id'] is None,
    payload_dict['data']['stations']))

KeyError: 'region_id'

In [32]:
table_values=list(map(
    lambda value:(int(value['station_id']),value['station_type'],value['name'],value['short_name'],int(value['capacity']),
                  value['external_id'],bool(value['has_kiosk']),int(value['legacy_id']),
                   int(value['region_id']) if 'region_id' in value.keys() else None
                  ,bool(value['electric_bike_surcharge_waiver'])),
    payload_dict['data']['stations']
))

In [33]:
for value in table_values:
    cursor.execute(query,value)
connection.commit()

In [37]:
%%sql 
SELECT * FROM stations LIMIT 20;

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
20 rows affected.

[(1, 72, 'classic', 'W 52 St & 11 Ave', '6926.01', 55, '66db237e-0aca-11e7-82f6-3863bb44ef7c', True, 72, 71, False),
 (2, 79, 'classic', 'Franklin St & W Broadway', '5430.08', 33, '66db269c-0aca-11e7-82f6-3863bb44ef7c', True, 79, 71, False),
 (3, 82, 'classic', 'St James Pl & Pearl St', '5167.06', 27, '66db277a-0aca-11e7-82f6-3863bb44ef7c', True, 82, 71, False),
 (4, 83, 'classic', 'Atlantic Ave & Fort Greene Pl', '4354.07', 62, '66db281e-0aca-11e7-82f6-3863bb44ef7c', True, 83, 71, False),
 (5, 116, 'classic', 'W 17 St & 8 Ave', '6148.02', 50, '66db28b5-0aca-11e7-82f6-3863bb44ef7c', True, 116, 71, False),
 (6, 119, 'classic', 'Park Ave & St Edwards St', '4700.06', 53, '66db2953-0aca-11e7-82f6-3863bb44ef7c', True, 119, 71, False),
 (7, 120, 'classic', 'Lexington Ave & Classon Ave', '4452.03', 19, '66db29e6-0aca-11e7-82f6-3863bb44ef7c', True, 120, 71, False),
 (8, 127, 'classic', 'Barrow St & Hudson St', '5805.05', 31, '66db2a71-0aca-11e7-82f6-3863bb44ef7c', True, 127, 71, False),
 (9, 128, 'classic', 'MacDougal St & Prince St', '5687.04', 56, '66db2afe-0aca-11e7-82f6-3863bb44ef7c', True, 128, 71, False),
 (10, 143, 'classic', 'Clinton St & Joralemon St', '4605.04', 50, '66db2d2b-0aca-11e7-82f6-3863bb44ef7c', True, 143, 71, False),
 (11, 144, 'classic', 'Nassau St & Navy St', '4812.02', 58, '66db2db5-0aca-11e7-82f6-3863bb44ef7c', True, 144, 71, False),
 (12, 146, 'classic', 'Hudson St & Reade St', '5359.10', 55, '66db2e3a-0aca-11e7-82f6-3863bb44ef7c', True, 146, 71, False),
 (13, 150, 'classic', 'E 2 St & Avenue C', '5476.03', 56, '66db2f4c-0aca-11e7-82f6-3863bb44ef7c', True, 150, 71, False),
 (14, 151, 'classic', 'Cleveland Pl & Spring St', '5492.05', 33, '66db2fd0-0aca-11e7-82f6-3863bb44ef7c', True, 151, 71, False),
 (15, 152, 'classic', 'Warren St & W Broadway', '5288.09', 49, '66db3053-0aca-11e7-82f6-3863bb44ef7c', True, 152, 71, False),
 (16, 153, 'classic', 'E 40 St & 5 Ave', '6474.11', 63, '66db30e0-0aca-11e7-82f6-3863bb44ef7c', True, 153, 71, False),
 (17, 157, 'classic', 'Henry St & Atlantic Ave', '4531.05', 23, '66db316a-0aca-11e7-82f6-3863bb44ef7c', True, 157, 71, False),
 (18, 161, 'classic', 'LaGuardia Pl & W 3 St', '5721.14', 35, '66db3273-0aca-11e7-82f6-3863bb44ef7c', True, 161, 71, False),
 (19, 164, 'classic', 'E 47 St & 2 Ave', '6498.10', 77, '66db32fb-0aca-11e7-82f6-3863bb44ef7c', True, 164, 71, False),
 (20, 168, 'classic', 'W 18 St & 6 Ave', '6064.08', 47, '66db33fc-0aca-11e7-82f6-3863bb44ef7c', True, 168, 71, False)]

In [35]:
%%sql
SELECT DISTINCT(station_type) FROM stations;

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
1 rows affected.

[('classic',)]

In [38]:
%%sql
SELECT region_id,count(station_id) as No_of_stations from stations
GROUP BY region_id
ORDER BY NO_of_stations

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
4 rows affected.

[(None, 11), (311, 27), (70, 53), (71, 1497)]

In [39]:
%%sql
SELECT station_id,name FROM stations
ORDER BY capacity desc
LIMIT 10;

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
10 rows affected.

[(248, 'Laight St & Hudson St'),
 (293, 'Lafayette St & E 8 St'),
 (470, 'W 20 St & 8 Ave'),
 (3687, 'E 33 St & 1 Ave'),
 (386, 'Centre St & Worth St'),
 (445, 'E 10 St & Avenue A'),
 (4406, 'E 11 St & 3 Ave'),
 (257, 'Lispenard St & Broadway'),
 (361, 'Allen St & Hester St'),
 (410, 'Suffolk St & Stanton St')]

In [40]:
%%sql
SELECT count(1) from stations
WHERE has_kiosk=False;

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
1 rows affected.

[(4,)]

In [6]:
!sudo ls -ltr /home/itv000510/itversity-material/mastering-python/22_processing_rest_payloads

total 544
-rw-r--r-- 1 itv000510 students 450597 Jun 25 01:58 09_process_repo_details_using_pandas.ipynb
-rw-r--r-- 1 itv000510 students   8999 Jun 25 01:58 08_get_repo_details_using_get.ipynb
-rw-r--r-- 1 itv000510 students  11105 Jun 25 01:58 07_convert_rest_payload_to_dict.ipynb
-rw-r--r-- 1 itv000510 students  12457 Jun 25 01:58 06_decipher_rest_get_using_requests.ipynb
-rw-r--r-- 1 itv000510 students   7708 Jun 25 01:58 05_getting_started_with_requests.ipynb
-rw-r--r-- 1 itv000510 students   1850 Jun 25 01:58 04_overview_of_postman.ipynb
-rw-r--r-- 1 itv000510 students   6900 Jun 25 01:58 03_using_curl_command.ipynb
-rw-r--r-- 1 itv000510 students   5695 Jun 25 01:58 02_overview_of_rest_apis.ipynb
-rw-r--r-- 1 itv000510 students   2508 Jun 27 10:03 00_get_database_connection.ipynb
-rw-r--r-- 1 itv000510 students  26682 Jun 27 10:36 10_exercise_rest_payload_to_db_table.ipynb

In [8]:
!ls -ltr /home/itversity/cteam_assessments/itv000569

total 8
drwxr-xr-x 3 itversity itversity 4096 Jun 12 06:32 sql-assessments
drwxr-xr-x 3 itversity itversity 4096 Jun 27 06:56 mastering-python

In [10]:
!sudo ls -ltr /home/itv000569/mastering-python/22_processing_rest_payloads

total 600
-rw-r--r-- 1 itv000569 students 450597 Jun 26 00:24 09_process_repo_details_using_pandas.ipynb
-rw-r--r-- 1 itv000569 students   8999 Jun 26 00:24 08_get_repo_details_using_get.ipynb
-rw-r--r-- 1 itv000569 students  11105 Jun 26 00:24 07_convert_rest_payload_to_dict.ipynb
-rw-r--r-- 1 itv000569 students  12457 Jun 26 00:24 06_decipher_rest_get_using_requests.ipynb
-rw-r--r-- 1 itv000569 students   1850 Jun 26 00:24 04_overview_of_postman.ipynb
-rw-r--r-- 1 itv000569 students   6900 Jun 26 00:24 03_using_curl_command.ipynb
-rw-r--r-- 1 itv000569 students   5201 Jun 26 02:26 02_overview_of_rest_apis.ipynb
-rw-r--r-- 1 itv000569 students   2128 Jun 26 04:50 00_setup_database_variables.ipynb
-rw-r--r-- 1 itv000569 students   7708 Jun 26 05:25 05_getting_started_with_requests.ipynb
-rw-r--r-- 1 itv000569 students  32610 Jun 27 10:04 10_solve-2_rest_payload_to_db_table.ipynb
-rw-r--r-- 1 itv000569 students  51850 Jun 28 00:26 10_solve-1-exercise_rest_payload_to_db_table-Copy1.ipynb

In [11]:
!sudo cp -rf /home/itv000569/mastering-python/22_processing_rest_payloads/10_solve-2_rest_payload_to_db_table.ipynb \
    /home/itversity/cteam_assessments/itv000569/mastering-python/22_processing_rest_payloads/

In [13]:
!sudo cp -rf /home/itv000569/mastering-python/22_processing_rest_payloads/10_solve-1-exercise_rest_payload_to_db_table-Copy1.ipynb \
    /home/itversity/cteam_assessments/itv000569/mastering-python/22_processing_rest_payloads/

In [14]:
!sudo chown -R itversity:itversity /home/itversity/cteam_assessments/itv000569/mastering-python/22_processing_rest_payloads/