## Overview of Pandas Data Frames

While collections are typically the group of objects or tuples or simple strings, we need to parse them to further process the data. This process is tedious at times.
* With Data Frames we can define the structure.
* Data Frame is nothing but group of rows where each row have multiple attributes with names.
* Data Frame is similar to a Database Table or Spreadsheet with Header.
* Pandas provide rich and simple functions to convert data in files into Data Frames and process them
* Data can be read from files into Data Frame using functions such as read_csv.
* We can perform all standard operations on Data Frames.
  * Projection or Selection     
  * Filtering     
  * Aggregations     
  * Joins     
  * Sorting

### Tasks

Let us perform few tasks to recap the usage of Pandas Data Frames.
    
* Read order items data from the location on your system. In mine it is /data/retail_db/order_items/part-00000. Use the information below to define schema.
* It has 6 fields with the below names in the same order as specified below.
  * order_item_id
  * order_item_order_id
  * order_item_product_id
  * order_item_quantity
  * order_item_subtotal
  * order_item_product_price

In [1]:
import pandas as pd
order_items_path = "/data/retail_db/order_items/part-00000"
order_items = pd. \
    read_csv(order_items_path,
             names=["order_item_id", "order_item_order_id",
                    "order_item_product_id", "order_item_quantity",
                    "order_item_subtotal", "order_item_product_price"
                   ]
            )

* Project order_item_order_id and order_item_subtotal

In [ ]:
order_items[["order_item_id", "order_item_subtotal"]]

* Filter for order_item_order_id 2

In [ ]:
order_items.query("order_item_order_id == 2")

* Compute revenue for order_item_order_id 2

In [2]:
order_items. \
    query("order_item_order_id == 2")["order_item_subtotal"]. \
    sum()

579.98

* Get number of items and revenue for each order id. Give alias to the order revenue as **revenue**.

In [3]:
order_items. \
    groupby("order_item_order_id")["order_item_subtotal"]. \
    sum()

order_item_order_id
1         299.98
2         579.98
4         699.85
5        1129.86
7         579.92
          ...
68879    1259.97
68880     999.77
68881     129.99
68882     109.99
68883    2149.99
Name: order_item_subtotal, Length: 57431, dtype: float64

In [4]:
order_items. \
    groupby("order_item_order_id")["order_item_subtotal"]. \
    agg(['sum', 'count']). \
    rename(columns={'sum': 'revenue'})

                     revenue  count
order_item_order_id
1                     299.98      1
2                     579.98      3
4                     699.85      4
5                    1129.86      5
7                     579.92      3
...                      ...    ...
68879                1259.97      3
68880                 999.77      5
68881                 129.99      1
68882                 109.99      2
68883                2149.99      2

[57431 rows x 2 columns]