## Problem 03

Weightage: 50

Convert data from json to a Hive table with simple data types. **address** should be stored in 4 columns - city, postal_code, state and street. **phone_numbers** should be of type string and existing numbers should be comma separated.

## Data Description

All of the address data is available under **/public/addresses**. Here is the schema.
```
root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- postal_code: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- phone_numbers: array (nullable = true)
 |    |-- element: string (containsNull = true)
```

## Output Requirements

* Create Database `whoami`_mt02
* Create external table pointing to below location.
```
/user/`whoami`/mock_test_02/problem03/solution
```
* Table Name: **addresses**
* Column Names and Data Types
```
 |-- id: long
 |-- first_name: string
 |-- last_name: string
 |-- gender: string
 |-- email: string
 |-- ip_address: string
 |-- address: string
 |-- phone_numbers: string
```
* Use parquet file format. There should be exactly 4 files under the folder related to table.
* Data should be sorted in ascending order by id.

## Validation

Here are the self validation steps:
* Validate if the table is created or not.
```
import getpass
username = getpass.getuser()
data = spark.read.table(f'{username}_mt02.addresses')
```
* Get Schema by running `data.printSchema()`. Output should be as below. Ignore Nullability if it does not match exactly.
```
root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- email: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- address: string (nullable = true)
 |-- phone_numbers: string (nullable = true)
```
* Get count by running `data.count()`. It should return **1,000,000**.
* Run `data.orderBy('id').show()` to validate the data. Output should be like this.
| id|first_name|   last_name|gender|               email|     ip_address|             address|       phone_numbers|
|---|----------|------------|------|--------------------|---------------|--------------------|--------------------|
|  1|    Corrie|Van den Oord|Female|cvandenoord0@etsy...| 114.69.173.253|4391 Coleman Lane...|        785-310-6676|
|  2|  Nikolaus|     Brewitt|  Male|nbrewitt1@dailyma...| 191.17.232.147|263 Graedel Drive...|609-306-0365,205-...|
|  3|    Orelie|      Penney|Female|openney2@vistapri...| 109.206.143.10|5152 Twin Pines P...|619-727-2916,570-...|
|  4|     Ashby|    Maddocks|  Male|  amaddocks3@home.pl|  171.173.96.24|31696 Longview Wa...|415-708-9669,806-...|
|  5|      Kurt|        Rome|  Male|krome4@shutterfly...| 125.35.144.111|8854 Rusk Street,...|        915-912-2446|
|  6|    Idelle|      Dorsey|Female|idorsey5@artistee...|  89.128.71.151|95353 Carpenter P...|949-257-9443,504-...|
|  7|      Levy|       Pacey|  Male|lpacey6@bloglovin...|   149.60.175.7|2997 Maryland Cir...|202-667-9730,810-...|
|  8|   Hershel|       Kneal|  Male|hkneal7@engadget.com|206.179.142.167|3101 Ilene Plaza,...|719-481-1263,561-...|
|  9|     Kelly|  Gatheridge|Female|kgatheridge8@mysp...|  101.79.38.236|91956 Stone Corne...|        719-867-3789|
| 10|     Aksel|       Ewles|  Male| aewles9@samsung.com|  219.49.91.115|39 Warbler Avenue...|        501-903-4014|
| 11| Millicent|    Whitwell|Female| mwhitwella@army.mil|   46.90.146.88|3598 Carpenter Ci...|716-582-3471,864-...|
| 12|      Levy|    Fennelow|  Male|lfennelowb@so-net...| 102.19.205.231|20 Glacier Hill P...|330-621-5532,562-...|
| 13|     Bucky|       Harle|  Male|   bharlec@europa.eu|113.149.152.231|06 Badeau Alley,M...|        712-111-4246|
| 14|     Randy|   Kleinmann|Female|rkleinmannd@frien...|   5.89.218.201|04 Manitowish Dri...|515-109-8291,408-...|
| 15|   Eveleen|     Lanaway|Female|elanawaye@blinkli...| 219.210.42.139|512 Prairie Rose ...|360-712-7619,239-...|
| 16|  Eleonore|      Cordle|Female|ecordlef@printfri...| 34.134.136.163|2893 Red Cloud Tr...|                    |
| 17|     Monte|     Sidaway|  Male|msidawayg@unicef.org|162.189.175.228|50225 Eagle Crest...|213-965-4880,619-...|
| 18|     Heddi|      Sackes|Female|hsackesh@business...|   59.44.144.36|65403 Hermina Pla...|                    |
| 19|    Tabina|     Olivari|Female|    tolivarii@goo.gl|   91.22.33.111|05 Ryan Trail,Arl...|602-594-0067,803-...|
| 20|Rutherford|   Josephson|  Male|rjosephsonj@sprin...| 93.124.195.224|38907 Sunfield Pa...|979-330-2010,562-...|
* Validate whether the files are of type Parquet or not.
```
import getpass
username = getpass.getuser()
data_p = spark. \
    read. \
    parquet(f'/user/{username}/mock_test_02/problem03/solution')
```
* Run `data_p.orderBy('id').show()` to validate the data. Output should be like above.

In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    appName(f'Problem 03 | {username}'). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark.conf.set('spark.sql.shuffle.partitions', 2)

In [3]:
addressPath="/public/addresses/Address-*.json"
addressDf=spark.read.json(addressPath)

In [ ]:
addressDf.printSchema()

In [ ]:
addressDf

In [ ]:
spark.sql(f'SET hive.metastore.warehouse.dir=/user/{username}/warehouse')

In [ ]:
spark.sql(f'SET spark.sql.warehouse.dir=/user/{username}/warehouse')

In [4]:
spark.sql(f'DROP DATABASE IF EXISTS {username}_mt02')

++
||
++
++

In [5]:
spark.sql(f'CREATE DATABASE IF NOT EXISTS {username}_mt02')

++
||
++
++

In [6]:
spark.sql(f'DROP TABLE IF EXISTS {username}_mt02.addresses')

++
||
++
++

In [7]:
from pyspark.sql.functions import col,concat_ws,concat,when

In [ ]:
addressDf.withColumn("address1",concat(col("address.city"),col("address.postal_code"),col("address.street"),col("address.city"))).show()

In [10]:
resultsDf=addressDf.withColumn("address",concat(col("address.city"),col("address.postal_code"),col("address.street"),col("address.city"))). \
       withColumn("phone_numbers",when(col('phone_numbers').isNull(),None).otherwise(concat_ws(",",col("phone_numbers")))). \
         select("id","first_name","last_name","gender","email","ip_address","address","phone_numbers"). \
         orderBy("id")

In [11]:
resultsDf.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- email: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- address: string (nullable = true)
 |-- phone_numbers: string (nullable = true)

In [14]:
resultsDf.coalesce(4).write.mode('overwrite'). \
        format("parquet"). \
        option("path",f"/user/{username}/mock_test_02/problem03/solution"). \
        saveAsTable(f"{username}_mt02.addresses")

# Validations

In [15]:
data = spark.read.table(f'{username}_mt02.addresses')

In [16]:
data.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- email: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- address: string (nullable = true)
 |-- phone_numbers: string (nullable = true)

In [17]:
data.count()

1000000

In [18]:
data.show()

+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
| id|first_name|   last_name|gender|               email|     ip_address|             address|       phone_numbers|
+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
|  1|    Corrie|Van den Oord|Female|cvandenoord0@etsy...| 114.69.173.253|New Orleans701494...|        785-310-6676|
|  2|  Nikolaus|     Brewitt|  Male|nbrewitt1@dailyma...| 191.17.232.147|Akron44310263 Gra...|609-306-0365,205-...|
|  3|    Orelie|      Penney|Female|openney2@vistapri...| 109.206.143.10|Des Moines5030551...|619-727-2916,570-...|
|  4|     Ashby|    Maddocks|  Male|  amaddocks3@home.pl|  171.173.96.24|Wichita6721531696...|415-708-9669,806-...|
|  5|      Kurt|        Rome|  Male|krome4@shutterfly...| 125.35.144.111|Atlanta303868854 ...|        915-912-2446|
|  6|    Idelle|      Dorsey|Female|idorsey5@artistee...|  89.128.71.151|Austin7876495353 ...|949-257-9443,504-...|
|  7|      Levy|       Pacey|  Male|lpacey6@bloglovin...|   149.60.175.7|Birmingham3521029...|202-667-9730,810-...|
|  8|   Hershel|       Kneal|  Male|hkneal7@engadget.com|206.179.142.167|Lehigh Acres33972...|719-481-1263,561-...|
|  9|     Kelly|  Gatheridge|Female|kgatheridge8@mysp...|  101.79.38.236|Gary4640691956 St...|        719-867-3789|
| 10|     Aksel|       Ewles|  Male| aewles9@samsung.com|  219.49.91.115|Montgomery3612539...|        501-903-4014|
| 11| Millicent|    Whitwell|Female| mwhitwella@army.mil|   46.90.146.88|Omaha681973598 Ca...|716-582-3471,864-...|
| 12|      Levy|    Fennelow|  Male|lfennelowb@so-net...| 102.19.205.231|Kansas City641532...|330-621-5532,562-...|
| 13|     Bucky|       Harle|  Male|   bharlec@europa.eu|113.149.152.231|Miami3328306 Bade...|        712-111-4246|
| 14|     Randy|   Kleinmann|Female|rkleinmannd@frien...|   5.89.218.201|Tampa3362504 Mani...|515-109-8291,408-...|
| 15|   Eveleen|     Lanaway|Female|elanawaye@blinkli...| 219.210.42.139|Sacramento9428651...|360-712-7619,239-...|
| 16|  Eleonore|      Cordle|Female|ecordlef@printfri...| 34.134.136.163|Gulfport395052893...|                null|
| 17|     Monte|     Sidaway|  Male|msidawayg@unicef.org|162.189.175.228|Rockford611055022...|213-965-4880,619-...|
| 18|     Heddi|      Sackes|Female|hsackesh@business...|   59.44.144.36|Van Nuys914996540...|                null|
| 19|    Tabina|     Olivari|Female|    tolivarii@goo.gl|   91.22.33.111|Arlington2221205 ...|602-594-0067,803-...|
| 20|Rutherford|   Josephson|  Male|rjosephsonj@sprin...| 93.124.195.224|Toledo4366638907 ...|979-330-2010,562-...|
+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [19]:
data_p = spark. \
  read. \
  parquet(f'/user/{username}/mock_test_02/problem03/solution')

In [20]:
data_p

+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
| id|first_name|   last_name|gender|               email|     ip_address|             address|       phone_numbers|
+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
|  1|    Corrie|Van den Oord|Female|cvandenoord0@etsy...| 114.69.173.253|New Orleans701494...|        785-310-6676|
|  2|  Nikolaus|     Brewitt|  Male|nbrewitt1@dailyma...| 191.17.232.147|Akron44310263 Gra...|609-306-0365,205-...|
|  3|    Orelie|      Penney|Female|openney2@vistapri...| 109.206.143.10|Des Moines5030551...|619-727-2916,570-...|
|  4|     Ashby|    Maddocks|  Male|  amaddocks3@home.pl|  171.173.96.24|Wichita6721531696...|415-708-9669,806-...|
|  5|      Kurt|        Rome|  Male|krome4@shutterfly...| 125.35.144.111|Atlanta303868854 ...|        915-912-2446|
|  6|    Idelle|      Dorsey|Female|idorsey5@artistee...|  89.128.71.151|Austin7876495353 ...|949-257-9443,504-...|
|  7|      Levy|       Pacey|  Male|lpacey6@bloglovin...|   149.60.175.7|Birmingham3521029...|202-667-9730,810-...|
|  8|   Hershel|       Kneal|  Male|hkneal7@engadget.com|206.179.142.167|Lehigh Acres33972...|719-481-1263,561-...|
|  9|     Kelly|  Gatheridge|Female|kgatheridge8@mysp...|  101.79.38.236|Gary4640691956 St...|        719-867-3789|
| 10|     Aksel|       Ewles|  Male| aewles9@samsung.com|  219.49.91.115|Montgomery3612539...|        501-903-4014|
| 11| Millicent|    Whitwell|Female| mwhitwella@army.mil|   46.90.146.88|Omaha681973598 Ca...|716-582-3471,864-...|
| 12|      Levy|    Fennelow|  Male|lfennelowb@so-net...| 102.19.205.231|Kansas City641532...|330-621-5532,562-...|
| 13|     Bucky|       Harle|  Male|   bharlec@europa.eu|113.149.152.231|Miami3328306 Bade...|        712-111-4246|
| 14|     Randy|   Kleinmann|Female|rkleinmannd@frien...|   5.89.218.201|Tampa3362504 Mani...|515-109-8291,408-...|
| 15|   Eveleen|     Lanaway|Female|elanawaye@blinkli...| 219.210.42.139|Sacramento9428651...|360-712-7619,239-...|
| 16|  Eleonore|      Cordle|Female|ecordlef@printfri...| 34.134.136.163|Gulfport395052893...|                null|
| 17|     Monte|     Sidaway|  Male|msidawayg@unicef.org|162.189.175.228|Rockford611055022...|213-965-4880,619-...|
| 18|     Heddi|      Sackes|Female|hsackesh@business...|   59.44.144.36|Van Nuys914996540...|                null|
| 19|    Tabina|     Olivari|Female|    tolivarii@goo.gl|   91.22.33.111|Arlington2221205 ...|602-594-0067,803-...|
| 20|Rutherford|   Josephson|  Male|rjosephsonj@sprin...| 93.124.195.224|Toledo4366638907 ...|979-330-2010,562-...|
+---+----------+------------+------+--------------------+---------------+--------------------+--------------------+
only showing top 20 rows