## Exercise 2 - Create Table for Courses

Create table - **courses**
* **course_id** - sequence generated integer and primary key
* **course_name** - which holds alpha numeric or string values up to 60 characters
* **course_author** - which holds the name of the author up to 40 characters
* **course_status** - which holds one of these values (**published**, **draft**, **inactive**). It should also be defaulted to **draft**.
* **course_published_dt** - which holds date type value.

In [1]:
%run 00_get_database_connection.ipynb

* Drop the table if already exists. Run below cells to drop it.

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv001477_sms_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_sms_db

In [4]:
%%sql

DROP TABLE IF EXISTS courses;
DROP TABLE IF EXISTS stations

Done.
Done.

[]

In [5]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
0 rows affected.

[]

* Develop the logic to create the table using Python.

In [6]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [7]:
connection.cursor?

Docstring:
cursor(name=None, cursor_factory=extensions.cursor, withhold=False) -- new cursor

Return a new cursor.

The ``cursor_factory`` argument can be used to
create non-standard cursors by passing a class different from the
default. Note that the new class *should* be a sub-class of
`extensions.cursor`.

:rtype: `extensions.cursor`
Type:      builtin_function_or_method

In [8]:
# The code to create the table should go here.
# Make sure the constraints, sequence, default values are honored as per the requirement
cursor=connection.cursor()
query=("""CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(15) CHECK(course_status in ('published','draft','inactive')),
    course_published_dt DATE)""")

In [9]:
cursor.execute(query)

In [10]:
connection.commit()

In [11]:
cursor.close()

In [12]:
connection.close()

* Validate by running query here. The below query should return the table that is created.

In [13]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
1 rows affected.

[('itv001477_sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [14]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
5 rows affected.

[('itv001477_sms_db', 'public', 'courses', 'course_id', 1, "nextval('courses_course_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001477_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001477_sms_db', 'public', 'courses', 'course_name', 2, None, 'YES', 'character varying', 60, 240, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001477_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001477_sms_db', 'public', 'courses', 'course_author', 3, None, 'YES', 'character varying', 40, 160, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001477_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001477_sms_db', 'public', 'courses', 'course_status', 4, None, 'YES', 'character varying', 15, 60, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001477_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001477_sms_db', 'public', 'courses', 'course_published_dt', 5, None, 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'itv001477_sms_db', 'pg_catalog', 'date', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]