In [9]:
%run 02_function_get_database_connection.ipynb

In [10]:
%load_ext sql

In [11]:
%env DATABASE_URL=postgresql://itv001477_sms_user:{password}@{host}:{port}/itv001477_sms_db

env: DATABASE_URL=postgresql://itv001477_sms_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_sms_db

In [12]:
%%sql

DROP TABLE IF EXISTS courses

Done.

[]

In [13]:
%%sql

CREATE TABLE courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(9) CHECK (course_status IN ('published', 'inactive', 'draft')),
    course_published_dt DATE
)

 * postgresql://itv001477_sms_user:***@m01.itversity.com:5433/itv001477_sms_db
Done.

[]

In [14]:
courses = [{'course_name': 'Programming using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_publised_dt': '2020-09-30'},
 {'course_name': 'Data Engineering using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_publised_dt': '2020-07-15'},
 {'course_name': 'Data Engineering using Scala',
  'course_author': 'Elvis Presley',
  'course_status': 'draft',
  'course_publised_dt': None},
 {'course_name': 'Programming using Scala',
  'course_author': 'Elvis Presley',
  'course_status': 'published',
  'course_publised_dt': '2020-05-12'},
 {'course_name': 'Programming using Java',
  'course_author': 'Mike Jack',
  'course_status': 'inactive',
  'course_publised_dt': '2020-08-10'},
 {'course_name': 'Web Applications - Python Flask',
  'course_author': 'Bob Dillon',
  'course_status': 'inactive',
  'course_publised_dt': '2020-07-20'},
 {'course_name': 'Web Applications - Java Spring',
  'course_author': 'Mike Jack',
  'course_status': 'draft',
  'course_publised_dt': None},
 {'course_name': 'Pipeline Orchestration - Python',
  'course_author': 'Bob Dillon',
  'course_status': 'draft',
  'course_publised_dt': None},
 {'course_name': 'Streaming Pipelines - Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_publised_dt': '2020-10-05'},
 {'course_name': 'Web Applications - Scala Play',
  'course_author': 'Elvis Presley',
  'course_status': 'inactive',
  'course_publised_dt': '2020-09-30'},
 {'course_name': 'Web Applications - Python Django',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_publised_dt': '2020-06-23'},
 {'course_name': 'Server Automation - Ansible',
  'course_author': 'Uncle Sam',
  'course_status': 'published',
  'course_publised_dt': '2020-07-05'}]

In [15]:
import psycopg2
from psycopg2.extras import execute_values

In [17]:
columns = courses[0].keys()
query = "INSERT INTO courses ({}) VALUES %s".format(','.join(columns))

In [18]:
query

'INSERT INTO courses (course_name,course_author,course_status,course_publised_dt) VALUES %s'

In [19]:
values = [[value for value in course.values()] for course in courses]

In [20]:
values

[['Programming using Python', 'Bob Dillon', 'published', '2020-09-30'],
 ['Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'],
 ['Data Engineering using Scala', 'Elvis Presley', 'draft', None],
 ['Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'],
 ['Programming using Java', 'Mike Jack', 'inactive', '2020-08-10'],
 ['Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'],
 ['Web Applications - Java Spring', 'Mike Jack', 'draft', None],
 ['Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None],
 ['Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'],
 ['Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'],
 ['Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'],
 ['Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05']]

In [21]:
for value in values:
    print(tuple(value))

('Programming using Python', 'Bob Dillon', 'published', '2020-09-30')
('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15')
('Data Engineering using Scala', 'Elvis Presley', 'draft', None)
('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12')
('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10')
('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20')
('Web Applications - Java Spring', 'Mike Jack', 'draft', None)
('Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None)
('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05')
('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30')
('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23')
('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05')

In [22]:
import psycopg2
connection=psycopg2.connect(
    host='m01.itversity.com',
    port='5433',
    database='itv001477_sms_db',
    user='itv001477_sms_user',
    password='xndxklzpkk2h37en8z32vzeekbuvwkca'
)

In [23]:
cursor=connection.cursor()

In [24]:
import datetime as dt
from datetime import date

In [29]:
def execute_values(cursor,query,values):
    value=('Programming using Python','Bob Dillon','published',dt.datetime.strptime('2020-09-30','%Y-%m-%d').date())
    cursor.execute(query,value)
    #for value in values:
        #cursor.execute(query,tuple(value))
    connection.commit()
    cursor.close()
    connection.close()

In [30]:
execute_values(cursor, query, values)

TypeError: not all arguments converted during string formatting

In [ ]:
conn.commit()