## Exercises - Partitioning Tables

Here is the exercise to get comfort with partitioning. We will be using range partitioning.

In [155]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/uAkrpaJmbx0?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* Use retail database. Make sure **orders** table already exists.
* You can reset the database by running these commands.
* Connect to retail database.

```shell
psql -U itversity_retail_user \
  -h localhost \
  -p 5432 \
  -d itversity_retail_db \
  -W
```

* Run these commands or scripts to reset the tables. It will take care of recreating **orders** table.

```sql
DROP TABLE IF EXISTS order_items;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS customers;
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS categories;
DROP TABLE IF EXISTS departments;


\i /data/retail_db/create_db_tables_pg.sql

\i /data/retail_db/load_db_tables_pg.sql
```

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itv001477_retail_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_retail_db

env: DATABASE_URL=postgresql://itv001477_retail_user:xndxklzpkk2h37en8z32vzeekbuvwkca@m01.itversity.com:5433/itv001477_retail_db

### Exercise 1

Create table **orders_part** with the same columns as orders.
* Partition the table by month using range partitioning on **order_date**.
* Add 14 partitions - 13 based up on the data and 1 default. Here is the naming convention.
  * Default - orders_part_default
  * Partition for 2014 January - orders_part_201401

In [4]:
%%sql
DROP TABLE IF EXISTS orders_part

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [5]:
%%sql
create table orders_part(
    order_id int,
    order_date date,
    order_customer_id int,
    order_status varchar(45),
    PRIMARY KEY(order_id,order_date)
)PARTITION BY RANGE(order_date)

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [6]:
%%sql
INSERT INTO orders_part
SELECT * FROM orders

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db

IntegrityError: (psycopg2.errors.CheckViolation) no partition of relation "orders_part" found for row
DETAIL:  Partition key of the failing row contains (order_date) = (2013-07-25).

[SQL: INSERT INTO orders_part SELECT * FROM orders]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [7]:
%%sql
create table orders_range_part_default
PARTITION OF orders_part DEFAULT

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [52]:
%%sql
alter table orders_part
    detach partition orders_range_part_default

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [53]:
%%sql
drop table orders_range_part_default

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [54]:
%%sql
create table orders_part_201307
PARTITION OF orders_part
FOR VALUES from ('2013-07-01') TO ('2013-08-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [55]:
%%sql
create table orders_part_201308
PARTITION OF orders_part
FOR VALUES from ('2013-08-01') TO ('2013-09-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [56]:
%%sql
create table orders_part_201309
PARTITION OF orders_part
FOR VALUES from ('2013-09-01') TO ('2013-10-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [57]:
%%sql
create table orders_part_201310
PARTITION OF orders_part
FOR VALUES from ('2013-10-01') TO ('2013-11-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [58]:
%%sql
create table orders_part_201311
PARTITION OF orders_part
FOR VALUES from ('2013-11-01') TO ('2013-12-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [59]:
%%sql
create table orders_part_201312
PARTITION OF orders_part
FOR VALUES from ('2013-12-01') TO ('2014-01-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [60]:
%%sql
create table orders_part_201401
PARTITION OF orders_part
FOR VALUES from ('2014-01-01') TO ('2014-02-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [61]:
%%sql
create table orders_part_201402
PARTITION OF orders_part
FOR VALUES from ('2014-02-01') TO ('2014-03-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [62]:
%%sql
create table orders_part_201403
PARTITION OF orders_part
FOR VALUES from ('2014-03-01') TO ('2014-04-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [63]:
%%sql
create table orders_part_201404
PARTITION OF orders_part
FOR VALUES from ('2014-04-01') TO ('2014-05-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [64]:
%%sql
create table orders_part_201405
PARTITION OF orders_part
FOR VALUES from ('2014-05-01') TO ('2014-06-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [65]:
%%sql
create table orders_part_201406
PARTITION OF orders_part
FOR VALUES from ('2014-06-01') TO ('2014-07-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [66]:
%%sql
create table orders_part_201407
PARTITION OF orders_part
FOR VALUES from ('2014-07-01') TO ('2014-08-01')

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [67]:
%%sql
create table orders_range_part_default
PARTITION OF orders_part DEFAULT

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
Done.

[]

In [68]:
%%sql
INSERT INTO orders_part
SELECT * FROM orders

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
68883 rows affected.

[]

In [69]:
%%sql
select distinct(order_date) from orders_range_part_default;

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
0 rows affected.

[]

### Exercise 2

Let us load and validate data in the partitioned table.
* Load the data from **orders** into **orders_part**.
* Get count on **orders_part** as well as all the 14 partitions. You should get 0 for default partition and all the records should be distributed using the other 13 partitions.

In [70]:
%%sql
select count(1) from orders_part_201307

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(1533,)]

In [71]:
%%sql
select count(1) from orders_part_201308

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5680,)]

In [72]:
%%sql
select count(1) from orders_part_201309

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5841,)]

In [73]:
%%sql
select count(1) from orders_part_201310

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5335,)]

In [74]:
%%sql
select count(1) from orders_part_201311

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(6381,)]

In [75]:
%%sql
select count(1) from orders_part_201312

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5892,)]

In [76]:
%%sql
select count(1) from orders_part_201401

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5908,)]

In [77]:
%%sql
select count(1) from orders_part_201402

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5635,)]

In [78]:
%%sql
select count(1) from orders_part_201403

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5778,)]

In [79]:
%%sql
select count(1) from orders_part_201404

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5657,)]

In [80]:
%%sql
select count(1) from orders_part_201405

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5467,)]

In [81]:
%%sql
select count(1) from orders_part_201406

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(5308,)]

In [82]:
%%sql
select count(1) from orders_part_201407

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(4468,)]

In [83]:
%%sql
select count(1) from orders_range_part_default

 * postgresql://itv001477_retail_user:***@m01.itversity.com:5433/itv001477_retail_db
1 rows affected.

[(0,)]